html {
  font-family: Roboto, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}

input {
  background-color: transparent;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.container {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
