@import './animations.scss';
@import './scrollbar.scss';

html {
  background-color: $color--bg;
  color: $color--fg;
}

/* ----------------------------------------------------------------
Reset
---------------------------------------------------------------- */
button,
input,
select {
  background-color: transparent;
  padding: 0;
  border: none;
}

button,
select {
  cursor: pointer;
}

select {
  appearance: none;
}

a {
  color: initial;
}

a,
button,
input,
select {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

p {
  margin: 0;
}

/* ----------------------------------------------------------------
Custom
---------------------------------------------------------------- */
.container {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--circular {
  padding: 0.25rem;
  border-radius: 50%;

  &:hover {
    color: $color--primary;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($color--primary, 0.5);
  }
}
