html {
  font-family: Roboto, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}

/* ----------------------------------------------------------------
Reset
---------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

input {
  background-color: transparent;
  padding: 0;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

select {
  appearance: none;
  background-color: transparent;
  padding: 0;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

/* ----------------------------------------------------------------
Custom
---------------------------------------------------------------- */
.container {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
