$scrollbar--bg: transparent;
$scrollbar__thumb-bg: #9ca3af;
$scrollbar__thumb-bg--hover: #6b7280;

* {
  scrollbar-color: $scrollbar__thumb-bg $scrollbar--bg;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: $scrollbar--bg;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar__thumb-bg;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar__thumb-bg--hover;
}
